* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0px;
}

.catalog {
  min-height: 62vh;
  width: 100%;
  background-color: rgb(253, 240, 213);
  display: flex;
}

.catalog p {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 960px) {
  .header-navigation p {
    font-size: 14px;
    margin-left: 5px;
  }
}
