body a {
    text-decoration: none;
    color: inherit;
  }
  
  body a:hover {
    color: #ffa500;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 50px;
    gap: 40px;
    background-color: #fffdf4;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
  
  .cart-item {
    background-color: white;
    border: 1px solid #909090;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    margin-bottom: 10px;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .item-details .product {
    font-weight: 600;
    font-size: 30px;
    padding: 0px;
    margin-bottom: -8px;
  }
  
  .item-details .brand {
    font-weight: 400;
    color: #4d4d4d;
    font-size: larger;
    padding: 0px;
    margin: 0px;
  }
  
  .item-details .price {
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .cart-item .item-image {
    align-self: flex-start;
  }
  
  .cart-item .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin: 10px;
  }
  
  .cart-item .actions a {
    margin-bottom: 10px;
  }
  
  .catalog-item-description-star {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .catalog-item-description-star img {
    width: 18px;
  }
  
  .catalog-item-description-star p {
    display: inline;
    font-size: 15px;
  }
  
  @media only screen and (max-width: 960px) {
    .header-navigation-account p,
    .header-navigation-cart p,
    .header-navigation-cart p {
      display: none;
    }
  }
  
  @media screen and (max-width: 960px) {
    .header-navigation p {
      font-size: 14px;
      margin-left: 5px;
    }
  
    .cart-item {
      flex-direction: column;
      justify-content: center;
    }
  
    .cart-item .actions {
      display: block;
      text-align: center;
    }
  
    .cart-item .actions a {
      background-color: gainsboro;
      border: 1px solid black;
      padding: 5px;
      border-radius: 3px;
    }
  
    #root {
      max-width: 100%;
    }
  
    main {
      padding: 15px;
    }
  
    .cart-item .item-image {
      align-self: center;
    }
  }
  