* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog {
  min-height: 90vh;
  width: 100%;
  background-color: rgb(253, 240, 213);
}

.catalog-item {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 180px;
  border-radius: 8px;
  border: 1px solid grey;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  background-color: white;
  padding: 10px;
}

.catalog-item-description {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
}

.catalog-item-description p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.catalog-item-description-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.catalog-item-description-brand {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.catalog-item-description-star {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.catalog-item-description-star p {
  display: inline;
  font-size: 8px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.filter-amount {
  display: flex;
  align-items: center;
}

.catalog ol {
  padding: 0px;
  margin: 0px;
}

@media screen and (max-width: 450px) {
  .catalog-item {
    height: 230px;
    width: 160px;
  }
}

@media screen and (max-width: 720px) {
  .filter-container {
    flex-direction: column;
  }
}
